{% extends 'layouts/admin.html' %}
{% block header %}Добавить товар{% endblock %}
{% block  description %}
    в каталог
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ url_for('admin.catalog') }}">Каталог</a></li>
    <li class="active">Добавить товар</li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Новый товар</h3>
                </div>
                <div class="box-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group {% if form.name_ru.errors|length > 0 %}has-error{% endif %}">
                                    {{ form.name_ru.label }}
                                    {{ form.name_ru(class='form-control', placeholder=form.name_ru.label.text, maxlength="100") }}
                                    {% for error in form.name_ru.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group {% if form.name_uz.errors|length > 0 %}has-error{% endif %}">
                                    {{ form.name_uz.label }}
                                    {{ form.name_uz(class='form-control', placeholder=form.name_uz.label.text, maxlength="100") }}
                                    {% for error in form.name_uz.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group {% if form.description_ru.errors|length > 0 %}has-error{% endif %}">
                                    {{ form.description_ru.label }}
                                    {{ form.description_ru(class='form-control', placeholder=form.description_ru.label.text, maxlength="500") }}
                                    {% for error in form.description_ru.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group {% if form.description_uz.errors|length > 0 %}has-error{% endif %}">
                                    {{ form.description_uz.label }}
                                    {{ form.description_uz(class='form-control', placeholder=form.description_uz.label.text, maxlength="500") }}
                                    {% for error in form.description_uz.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group {% if form.category.errors|length > 0 %}has-error{% endif %}">
                                    {{ form.category.label }}
                                    {{ form.category(class='form-control') }}
                                    {% for error in form.category.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group {% if form.price.errors|length > 0 %}has-error{% endif %}">
                                    {{ form.price.label }}
                                    {{ form.price(class='form-control', placeholder=form.price.label.text) }}
                                    {% for error in form.price.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    {{ form.image.label }}
                                    {{ form.image }}
                                </div>
                            </div>
                        </div>
                        <div class="form-buttons">
                            <a href="{{ url_for('admin.catalog') }}" class="back-button btn btn-flat bg-light-blue"><i class="fas fa-long-arrow-alt-left"></i>Назад</a>
                            {{ form.submit(class='save-button btn btn-flat bg-light-blue') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
