<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f39c12">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
    {% block styles %}{% endblock %}
    <!-- AdminLTE styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css') }}">
    <!-- AdminLTE skin styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skin-blue-light.min.css') }}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <title>{% if title %} {{ title }} {% else %} Административная панель {% endif %} | Fritto</title>
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="{{ url_for('admin.index') }}" class="logo">
                <!-- Logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Fritto</b></span>
                <!-- Logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Fritto</b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button -->
                <a href="#" class="sidebar-toggle fas fa-bars" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar right menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ url_for('auth.logout') }}">Выход</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <!-- /.search form -->
                <!-- Sidebar menu -->
                <ul class="sidebar-menu">
                    <li class="header">НАВИГАЦИЯ</li>
                    <li class="{% if area == 'catalog' %}active{% endif %}"><a href="{{ url_for('admin.catalog') }}"><i class="fa fas fa-stream"></i> <span>Каталог</span></a></li>
                    <li class="{% if area == 'orders' %}active{% endif %}"><a href="{{ url_for('admin.orders') }}"><i class="fa fas fa-clipboard-list"></i> <span>Заказы</span></a></li>
                    <li class="{% if area == 'users' %}active{% endif %}"><a href="{{ url_for('admin.users') }}"><i class="fa fas fa-users"></i> <span>Клиенты</span></a></li>
                    <li class="{% if area == 'map' %}active{% endif %}"><a href="{{ url_for('admin.orders_map') }}"><i class="fa fas fa-map-marked-alt"></i> <span>Карта заказов</span></a></li>
                    <li class="{% if area == 'comments' %}active{% endif %}"><a href="{{ url_for('admin.comments') }}"><i class="fa fas fa-comments"></i><span>Отзывы</span></a></li>
                    <li class="{% if area == 'settings' %}active{% endif %}"><a href="{{ url_for('admin.settings') }}"><i class="fa fas fa-cogs"></i> <span>Настройки</span></a></li>
                    <li class="{% if area == 'admin' %}active{% endif %}"><a href="{{ url_for('admin.administrator') }}"><i class="fa fas fa-user-cog"></i> <span>Администратор</span></a></li>
                    <li class="{% if area == 'mailing' %}active{% endif %}"><a href="{{ url_for('admin.mailing') }}"><i class="fas fa-envelope"></i> <span>Рассылка</span></a></li>
                    <li class="{% if area == 'requests' %}active{% endif %}"><a href="{{ url_for('admin.list_requests') }}"><i class="fas fa-question-circle"></i> <span>Запросы на регистрацию</span></a></li>
                </ul>
            </section>
        </aside>
        <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h3>
          {% block header %}
          {% endblock %}
        <small>{% block description %}{% endblock %}</small>
      </h3>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fas fa-tachometer-alt"></i> Главная панель</a></li>
        {% block breadcrumbs %}{% endblock %}
      </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alerts-wrapper">
                    {% for category, message in messages %}
                        {% set is_error = category == 'error' %}
                        {% set is_warning = category == 'warning' %}
                        {% set is_success = category == 'success' %}
                        <div class="alert alert-{% if is_error %}danger{% elif is_warning %}warning{% elif is_success %}success{% else %}info{% endif %} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fas fa-{% if is_error %}ban{% elif is_warning %}exclamation-triangle{% elif is_success %}check{% else %}info{% endif %}"></i> Сообщение!</h4>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Административная панель
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {{ year }}</strong> <small>Все права защищены.</small>
  </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
